.greeting {
    z-index: 10;
}

.header {
    width: 100%;
}
.header .main-img {
    background-color: #ffffff;
    background-image: url("/img/Фитнес клуб.jpg");
    background-size: cover;
    position: relative;
    height: 100vh;
}


.header .wrap{
    height: 100%;
    width: 100%;
    background-color: rgba(19, 6, 0, 0.55);
}

.header .main-img .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .main-img .content h1 {
    color: #ffffff;
}


.header .container-login-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.header .wrap-login-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}

.header .login-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #9c4900;
    background: -webkit-linear-gradient(right, #9c4900, #fea700, #9c4900, #fea700);
    background: -o-linear-gradient(right, #9c4900, #fea700, #9c4900, #fea700);
    background: -moz-linear-gradient(right, #9c4900, #fea700, #9c4900, #fea700);
    background: linear-gradient(right, #9c4900, #fea700, #9c4900, #fea700);
    top: 0;
    left: -100%;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.header .login-form-btn {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background: transparent;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    width: 100%;
    height: 50px;
}

.greeting h2 {
    display: block;
    margin: 0 auto 50px;
    text-align: center;
}
.greeting .trainingHall h2 {
    color: #623720;
    margin-top: 50px;
}

.greeting .trainingHall {
    background-color: #e6e6e6;
}

.greeting .trainingHall p{
    font-size: 20px;
    color: #120a05;
}

.greeting .prices {
    margin-top: 50px;
    font-size: 20px;
}

.greeting .prices .title img {
    width: 100px;
    display: block;
    margin: 0 auto;
}
.greeting .prices .title, .greeting .prices .contentBlock {
    display: block;
    margin: 0 auto;
}

.greeting .prices .title p{
    color: #623720;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}

.greeting .prices .contentBlock p {
    margin-bottom: 0;
    text-align: center;
    font-size: 18px;
}
.greeting .fitness h2 {

}

.greeting .fitness {
    font-size: 20px;
    color: #120a05;
}

.greeting .fitness h2 {
    color: #623720;
}
.greeting .fitness .topic p{
    margin-bottom: 50px;
}

.greeting .fitness img, .greeting .sportsSection img{
    max-height: 500px;
}

.greeting .fitness .contentBlock {

}
.greeting .fitness ul li{
    list-style-type: none;
}
.greeting .sportsSection {
    font-size: 20px;
    background-color: #e6e6e6;
}
.greeting .sportsSection .contentBlock img {
    width: 100px;
}

.greeting .sportsSection p {
    margin-bottom: 0;
}

.greeting .otherActivities {
    background-color: #150d08;
}
.greeting .otherActivities h2 {
    margin-bottom: 80px;
    color: white;
}

.greeting .otherActivities img {
    width: 180px;
    display: block;
    margin: 0 auto;

}

.greeting .otherActivities p{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #c1c1c1;
}

.greeting .contacts {
    font-size: 20px;
    background-color: #150d08;
    color: white;
}

.greeting .contacts h2{
    margin-top: 50px;
}

.greeting .contacts p {
    text-align: center;
    margin: 0 auto;
    display: block;

}

.greeting .contacts .phone {
    font-size: 62px;
    font-weight: 900;
    letter-spacing: 0.6px;
}

.greeting .contacts .address {
    display: block;
    margin: 0 auto;
}




@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

.greeting .containerCard {
    font-family: 'Baloo Paaji 2', cursive;
    width: 100%;

}

.greeting .containerCard .phone{

}

.greeting .containerCard .date-post, .greeting .containerCard .time-post {
    text-align: center;
    font-size: 0.8em;
}

.greeting .containerCard .date-post p, .greeting .containerCard .time-post p {
    margin: 0;
}
.greeting .card {
    background-size: cover;
    position: relative;
}

/*.greeting .card.first {*/
/*    background-image: url("/img/абонемент1.png");*/
/*}*/

/*.greeting .card.second {*/
/*    background-image: url("/img/абонемент2.jpg");*/
/*}*/

/*.greeting .card.third {*/
/*    background-image: url("/img/абонемент3.jpg");*/
/*}*/

.greeting .card .wrap p,  .greeting .card .wrap span{
    color: white;
}
.greeting .card .wrap {
    width: 100%;
    height: 100%;
    background-color: rgba(21, 13, 8, 0.78);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.7);
}

.greeting .card__phone {
    font-size: 1.2em;
}

.greeting .card__name {
    margin-top: 15px;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 900;
    text-align: center;
}

.greeting .card__image {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #272133;
    margin-top: 20px;
    box-shadow: 0 10px 50px #9c4900;
}


.greeting .draw-border {
    box-shadow: inset 0 0 0 4px #9c4900;
    color: #fea700;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.greeting .draw-border::before,
.greeting .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0rem;
    height: 0;
    bottom: 0;
    right: 0;
}

.greeting .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.greeting .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.greeting .draw-border:hover {
    color: #ffe593;
}

.greeting .draw-border:hover::before,
.greeting .draw-border:hover::after {
    border-color:#fea700;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.greeting .draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}

.greeting .draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}

.greeting .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 0.75em 2em;
    letter-spacing: 0.05rem;
    margin: 1em;
    width: 15rem;
    outline: none;
}

.greeting .btn:focus{
    outline: none !important;
    border: none;
}

.greeting .social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}

.greeting .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1em;
}

.greeting .social-icons i {
    color: #fff;
    position: absolute;
    top: 0.95em;
    left: 0.96em;
    transition: all 265ms ease-out;
}

.greeting .social-icons a {
    display: inline-block;
}

.greeting .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #ff003c, #c648c8);
    transition: all 265ms ease-out;
}

.greeting .social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.greeting .social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #ff003c;
    background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

.greeting .containerCard .description-post{
    padding: 0 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.greeting .containerCard .description-text{
    font-size: 16px;
}


.greeting .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-size: 1.2em;
    margin-bottom: 2.5em;
}

.greeting .comment-post{
    text-align: left;
    width: 100%;
    padding: 0 15px;
}

.greeting .card__price {
    width: 100%;
    padding: 0 10px;
    margin-top: 40px;
}




.greeting .inputGroup {
    background-color: rgba(156, 73, 0, 0.70);
    display: block;
    margin: 10px 0;
    position: relative;
}
.greeting .inputGroup label {
    padding: 12px 65px 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-transition: color 200ms ease-in;
    transition: color 200ms ease-in;
    overflow: hidden;
}
.greeting .inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: "";
    background-color: rgba(254, 167, 0, 0.7);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}
.greeting .inputGroup label:after {
    width: 32px;
    height: 32px;
    content: "";
    border: 2px solid #d1d7dc;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.greeting .inputGroup input:checked ~ label {
    color: #fff;
}
.greeting .inputGroup input:checked ~ label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
}
.greeting .inputGroup input:checked ~ label:after {
    background-color: #9c4900;
    border-color: #fff;
}
.greeting .inputGroup input {
    width: 32px;
    height: 32px;
    -webkit-box-ordinal-group: 2;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

