.profile .settings img{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #272133;
    box-shadow: 0 10px 50px #9c4900;
    margin: 20px auto 0;
    display: block;
}




.profile .settings p{
    text-align: center;
    margin-bottom: 0;
}

.profile .settings .userName {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.8px;
    color: #fea700;
}


.profile .draw-border {
    box-shadow: inset 0 0 0 4px #9c4900;

    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.profile .draw-border a, .profile .draw-border {
    color: #fea700;
}

.profile .draw-border::before,
.profile .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0rem;
    height: 0;
    bottom: 0;
    right: 0;
}

.profile .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.profile .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.profile .draw-border:hover {
    color: #ffe593;
}

.profile .draw-border:hover::before,
.profile .draw-border:hover::after {
    border-color:#fea700;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.profile .draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}

.profile .draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}

.profile .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 0.75em 2em;
    letter-spacing: 0.05rem;
    width: 13.5rem;
    outline: none;
    display: block;
    margin: 1em auto 1em;
}

.profile .btn:focus{
    outline: none !important;
    border: none;
}

.profile .save{
    margin-top: 40px;
}

.profile  h5{
    text-align: center;
    margin-bottom: 30px;
}

.profile .content {
    padding: 20px 40px;
    height: 100%;
    border-radius: 6px;
    background-color: #150d08;
    color: #ffffff;
}

.profile .changeAvatar {
    margin-top: 60px;
}

.profile .personal-data-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.profile .personal-data-block .passwordBlock {
    position: relative;
}

.profile .personal-data-block .passwordBlock i {
    position: absolute;
    right: 16px;
    font-size: 19px;
    top: 10px;
    cursor: pointer;
    color: #fea700;
}



.profile .personal-data-content input{
    outline: none;
    width: 100%;
    background: transparent;
    border: 1px solid #fea700;
    border-radius: 6px;
    padding: 8px 5px;
    transition: all 0.4s ease;
    color: #fea700;
}


.profile .personal-data-content input:focus{
    box-shadow: 0 0 5px 2px white;
}


.profile .personal-data-content label{
    font-weight: 600;
}

.profile .discount .discountName{
    color: #fea700;
    text-align: center;
    margin-bottom: 30px;
}

.profile .discount .priceBlock span,
.profile .discount .countDurationBlock span,
.profile .discount .remainingTime span{
    width: 100%;
    color: #fff;
    margin: 15px 0 5px 0;
    font-weight: 300;
    font: 13px "Trebuchet MS", "Lucida Sans";
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.profile .discount .priceBlock span,
.profile .discount .countDurationBlock span,
.profile .discount .remainingTime span,
.profile .discount .discountDescriptionBlock span{
    width: 100%;
    color: #fff;
    margin: 15px 0 5px 0;
    font-weight: 300;
    font: 13px "Trebuchet MS", "Lucida Sans";
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.profile .discount .priceBlock p,
.profile .discount .countDurationBlock p,
.profile .discount .remainingTime p{
    width: 100%;
    color: #fff;
    font: 22px "Trebuchet MS", "Lucida Sans";
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.profile .discount .discountDescriptionBlock p{
    font-weight: 300;
    font: 19px "Trebuchet MS", "Lucida Sans";
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}




.field__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.field__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.field__file-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.field__file-fake {
    height: 60px;
    width: calc(100% - 130px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #c7c7c7;
    border-radius: 3px 0 0 3px;
    border-right: none;
}

.field__file-button {
    width: 130px;
    height: 60px;
    background: #6bb5fb;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}





/* свойства модального окна по умолчанию */
.modal-from {
    position: fixed; /* фиксированное положение */
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    margin: 0;
    padding: 0;
}

/* ширина модального окна и его отступы от экрана */
.modal-from .modal-dialog-from {
    position: relative;
    margin: 10px;
    width: 900px;
    overflow: hidden;
}

.modal-from.closeModal {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.modal-from.activeModal{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
/* свойства для блока, содержащего контент модального окна */
.modal-from .modal-content-from {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.modal-from .title-img{
    width: 150%;
    left: -100px;
    position: relative;
    transform: rotate(10deg);
}

    /* свойства для заголовка модального окна */
.modal-from .modal-header-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-from .modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.modal-from .close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.modal-from .close:focus, .modal-from .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-from .modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    margin: 50px;
}

.modal-body .saver{
    font-family: Poppins-Medium, sans-serif;
    border-radius: 6px;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    background: #4466fb;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 200px;
    margin-top: 30px;
    height: 50px;
}

.modal-dialog-from .img{
    position: relative;
}

