.schedule .scheduleContent {
    font-size: 16px;
    border-collapse: collapse;
    table-layout: fixed;
    height: 100%;
    margin: 0 auto;
}
.schedule .scheduleContent td:first-child, .schedule .scheduleContent td:last-child{
    width: 50px;
}

.schedule .scheduleContent td{
    height: 50px;
    position: relative;
    width: 211px;
    padding: 5px;
}
.schedule .scheduleContent tr:first-child{
    border-bottom: 1px solid #dadada;
}
.schedule .scheduleContent tr th{
    padding-bottom: 8px;
    border-right: 1px solid #dadada;
}

.schedule .scheduleContent tr:nth-child(even){
    background: #f8f8f8;
}

.schedule .scheduleContent .content-td{
    position: relative;
    margin-top: 1px;
    margin-bottom: 4px;
    width: auto;
    margin-left: 0;
    border-bottom: 0;
    height: auto;
    border-left: 5px solid #73db57;
    padding: 7px 5px 6px 5px;
    /* min-height: 205px; */
    line-height: normal;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    font-size: 14px;
    text-align: left;
}

.schedule .scheduleContent .content-td .tag{
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    width: 70px;
    padding: 0 10px 0 10px;
    font-size: 12px;
    background: #469dd3;
    margin-bottom: 5px;
}
.schedule .scheduleContent .content-td .durationBlock {
    color: #999;
}

.schedule .scheduleContent .content-td .name {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
}

.schedule .scheduleContent .content-td .coach {
    margin-bottom: 5px;
}
.schedule .scheduleContent .content-td .count-empty-places-block {;
    color: #999;
}

.schedule .scheduleContent .addNoteCell .bntAdd,
.schedule .scheduleContent .changeMultiCell .bntAdd,
.schedule .changeNoteSchedule .bntChange,
.schedule .changeNoteSchedule .bntDelete{
    background-color: #469dd3;
    color: #fff;
    width: 100px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;
}
.schedule .scheduleContent .changeMultiCell .bntAdd,
.schedule .changeNoteSchedule .bntDelete{
    margin: 10px auto 10px;
}
.schedule .scheduleContent .addNoteCell,
.schedule .changeNoteSchedule{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: white;
    z-index: 1;
}
.schedule .scheduleContent .addNoteCell.active, .schedule .scheduleContent .changeNoteSchedule.active{
    display: flex;
    flex-direction: column;
}

.schedule .btn-more {
    background-color: #469dd3;
    color: #fff;
    width: 120px;
    margin: 0 auto 10px;
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;
}
.schedule .dataCell.dNone {
    display: none;
}

.schedule .data {
    position: relative;
}

.schedule .labelCell {
    color: #999;
}



.schedule  select {
    -webkit-appearance: none;
    padding: 0;
    /* стили вашего ползунка */
}
.schedule  select::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-sizing: content-box;
    background: red;
    /* стили вашего бегунка */
}
.schedule  select::-moz-range-thumb {
    /* снова стили вашего бегунка */
}
.schedule  select::-ms-thumb { /* должен следовать после -webkit- */
    /* снова стили вашего бегунка */
    /* могут потребоваться разные отступы */
}
.schedule  select::-webkit-slider-runnable-track {
    /* стили вашей дорожки*/
}
.schedule  select::-moz-range-track {
    /* снова стили вашей дорожки */
}
.schedule  select::-ms-track { /* должен следовать после -webkit- */
    border-color: transparent;
    color: transparent;
    /* снова стили вашей дорожки */
}

.schedule .groupBy {
    margin-bottom: 50px;
    margin-top: 30px;
}

.schedule .groupBy h4{
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.schedule .groupBy button {
    font-family: Poppins-Medium, sans-serif;
    border-radius: 6px;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    background: #4466fb;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px auto 0;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 200px;
    height: 50px;
}

.schedule .group {
    margin: 0 20px;
}

.schedule .groupBy select{
    min-width: 225px;
    text-align: center;
    width: 140px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #999;
    background: #eee;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.schedule .groupBy select option:selecte

.schedule .groupBy select option {
    padding: 5px 10px;
    cursor: pointer;
}