@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}
body{
    background: #f2f2f2;
}


#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
    background: #8e8e8e !important;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border: 1px solid #797979 !important;
}

.mynavbar{
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    background-color: #150d08;
}
.mynavbar a {
    color: #ffffff;
    padding-left: 27px;
    padding-right: 27px;
    border-top: 2px solid #150d08;
    border-bottom: 2px solid #150d08;

}
.mynavbar .profileMenu {
    position: relative;
}
.mynavbar .profileMenu img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: white;
}

.mynavbar .nav-content{
    flex: auto;
}
.mynavbar ul {
    margin: 0;
}
.mynavbar .nav-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;

}

.mynavbar .login button{
    display: block;
    margin: 0 auto;
    padding: 8px;
    border: 2px solid #c3b9b0;
    background: #fff;
    background: rgba(255, 255, 255, 0);
    border-radius: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}


.mynavbar .menu-list {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    margin-top: 10px;
    box-shadow: 0 0 3px 0px black;
    border-radius: 10px;
}

.mynavbar .menu-list::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
}
.mynavbar .menu-list::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: -10px;
    left: 50%;
    border-bottom: 10px solid #ffffff;
    top: -10px;
}

.mynavbar .menu-list a {
    color: #000000;
    padding: 0;
    text-decoration: none;
    border: none;
}

.mynavbar .menu-list ul {
    padding: 0;
}

.mynavbar .menu-list ul li:first-child{
    border-radius: 10px 10px 0 0;
}

.mynavbar .menu-list ul li:last-child{
    border-radius: 0 0 10px 10px;
}

.mynavbar .menu-list ul li {
    list-style-type: none;
    transition: all 0.5s ease;
    padding: 5px 10px;
    text-align: center;
}

.mynavbar .menu-list ul li:hover {
    background-color: #fea700;
}

.login-block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background: #f2f2f2;
}
.login-block .wrap-logo{
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-block .logo-form{
    display: block;
    font-family: Poppins-Bold, sans-serif;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}

.login-block .logo-input{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.login-block .logo-input input{
    font-family: Poppins-Regular, sans-serif;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
    outline: none;
    border: none;
}


.login-block .logo-input .focus-input {
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input:focus{
    width: 100%;
}

.login-block .logo-input .focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #6a7dfe;
    background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    background: -o-linear-gradient(left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(left, #21d4fd, #b721ff);
    background: linear-gradient(left, #21d4fd, #b721ff);
}

.login-block .logo-input .focus-input::after {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}







.container-login-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-login-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}

.login-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #9c4900;
    background: -webkit-linear-gradient(right, #9c4900, #fea700, #9c4900, #fea700);
    background: -o-linear-gradient(right, #9c4900, #fea700, #9c4900, #fea700);
    background: -moz-linear-gradient(right, #9c4900, #fea700, #9c4900, #fea700);
    background: linear-gradient(right, #9c4900, #fea700, #9c4900, #fea700);
    top: 0;
    left: -100%;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-form-btn {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    background: transparent;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login-btn:hover .login-form-bgbtn {
    left: 0;
}

.logo-form .bottom-text {
    margin-top: 115px;
    font-family: Poppins-Regular, sans-serif;
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
}

.logo-form span {
    color: #3e444e;
}
.logo-form .img-titile {
    color: #7d8691;
    margin-top: 26px;
    margin-bottom: 48px;
}

.logo-form .password-input{
    position: absolute;
    right: 27px;
    font-size: 18px;
    top: 13px;
    color: #999999;
}

.input-login:focus + .focus-input::after {
    top: -15px;
}

.input-login:focus + .focus-input::before {
    width: 100%;
}

.has-val.input-login + .focus-input::after {
    top: -15px;
}

.has-val.input-login + .focus-input::before {
    width: 100%;
}

.logo-input .btn-show-pass {
    font-size: 15px;
    color: #999999;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.userNameMenu {
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    color: #9c4900;

}


.logo-input .btn-show-pass:hover {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
}

.logo-input .btn-show-pass.active {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
}





footer {
    background: #3e444e;
    margin-top: 100px;
    color: #fcfcfd;
    padding: 100px 0;
}
footer h4{
    font-weight: 800;
    font-style: normal;
    font-family: 'Alegreya Sans', sans-serif;
    color: #fcfcfd;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0px;
    margin-bottom: 20px;
}

footer p {
    text-align: left !important;
    font-weight: 400;
    font-style: normal;
    font-family: 'Alegreya Sans', sans-serif;
    color: #fcfcfd;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 0px;
}

.endBlock {
    height: 100%;
}







